{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Artikel</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="dashboard-container">

    <div class="sidebar">

        <h2>My Blog</h2>

        <a href="/home">Dashboard</a>
        <a href="/kategori">Kategori</a>
        <a href="/artikel">Artikel</a>
        <a href="/">Logout</a>

    </div>

    <div class="dashboard-content">

        <h1>Edit Artikel</h1>

        <form method="POST">

            {% csrf_token %}

            <div class="input-box">
                <label>Judul Artikel</label>
                <input type="text" name="judul" value="{{ artikel.judul }}">
            </div>

            <div class="input-box">

                <label>Konten Artikel</label>

                <textarea 
                    name="konten"
                    rows="6"
                    style="width:100%; padding:12px; border-radius:8px;"
                >{{ artikel.konten }}</textarea>

            </div>

            <div class="input-box">

                <label>Kategori</label>

                <select 
                    name="kategori"
                    style="width:100%; padding:12px; border-radius:8px;"
                >

                    {% for k in kategori %}

                    <option value="{{ k.id }}">

                        {{ k.nama }}

                    </option>

                    {% endfor %}

                </select>

            </div>

            <div class="input-box">

                <label>Status</label>

                <select 
                    name="status"
                    style="width:100%; padding:12px; border-radius:8px;"
                >

                    <option value="True">Aktif</option>
                    <option value="False">Tidak Aktif</option>

                </select>

            </div>

            <button type="submit" class="btn">
                Update Artikel
            </button>

        </form>

    </div>

</div>

</body>
</html>