{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategori</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="dashboard-container">

    <div class="sidebar">

        <h2>My Blog</h2>

        <a href="/home">Dashboard</a>
        <a href="/kategori">Kategori</a>
        <a href="/artikel">Artikel</a>

    </div>

    <div class="dashboard-content">

        <h1>Data Kategori</h1>

        <br>

        <a href="/tambah-kategori" class="tambah-btn">
            + Tambah Kategori
        </a>

        <br><br>

        <table class="kategori-table">

            <tr>
                <th>No</th>
                <th>Nama Kategori</th>
                <th>Aksi</th>
            </tr>

            {% for k in kategori %}

            <tr>

                <td>{{ forloop.counter }}</td>

                <td>{{ k.nama }}</td>

                <td>
                    <a href="/edit-kategori/{{ k.id }}" class="edit-btn">
                        Edit
                    </a>

                    <a href="/hapus-kategori/{{ k.id }}" class="hapus-btn">
                        Hapus
                    </a>
                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>