{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="login-box">

        <h2>Login Berhasil 🎉</h2>

        <p class="desc">
            Selamat datang di website sederhana Django.
        </p>

        <a href="/" class="btn-link btn">
            Logout
        </a>

    </div>

</body>
</html>